{% extends "::base.html.twig" %}

{% block title %}NakupujemShopBundle:Security:userSecurityCheck{% endblock %}

{% block body %}
<h1>Welcome to the Security:userSecurityCheck page</h1>
{% endblock %}
