{% extends "NakupujemShopBundle::layout.html.twig" %}

{% block title %}Produkty{% endblock %}

{% block products %}
	{% if not products %}
		<h2>Žiadne produkty, všetko sa vypredalo</h2>
	{% else %}
	<div class="row">
		{% for product in products %}
		<div class="col-sm-4 col-xs-12">
			<div class="widget widget-pinterest fixed-height" data-animate="bounceIn" data-delay="200">
				<div class="mark">
					<span class="caret caret-primary"></span>
					<span class="text">TOP</span>  
				</div>
				<div class="widget-body padding-none">
					<a href="#" class="thumb"><img src="../assets/images/fashion/female/1.jpg" alt="" class="img-responsive"></a>
					<div class="description">
						<a href="cart.html" class="btn btn-primary btn-circle pull-right"><i class="fa fa-shopping-cart"></i></a>
						<h5 class="text-uppercase">Product name</h5>
						<span class="text-primary text-medium text-condensed">&euro;145.00</span>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endif %}
{% endblock %}
